* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(Public/Philosophers.png) no-repeat center center;
    background-size: cover;
    
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #030915;
    padding: 2.25rem 2.5rem;
    border-radius: 1rem;
    border: solid #0e5ba476 3px;
    max-width: 400px;
}

.time {
    color: aliceblue;
    font-size: 6rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.buttons button {
    padding: 1rem;
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
}

.buttons button:hover {
    opacity: 90%;
    cursor: pointer;
}

.buttons button i {
    font-size: 1.75rem;
}